
.card{
    margin-bottom: 15px;
    box-shadow: 0.5px 0.5px 8px rgb(146, 145, 145);
    border:none;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.5s;
}
.card:hover{
    transform: scale(1.05);
}